boot/cache
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/eshell
emacs.d/ido.last
emacs.d/irony
emacs.d/.python-environments
emacs.d/snippets
emacs.d/tramp
emacs.d/network-security.data
emacs.d/project-explorer-cache
emacs.d/projectile-bookmarks.eld
lein/self-installs/
lein/repl-history
hexchat/scrollback
