boot/cache
emacs.d/.python-environments
emacs.d/auto-save-list
emacs.d/elpa
emacs.d/eshell
emacs.d/ido.last
emacs.d/irony
emacs.d/network-security.data
emacs.d/project-explorer-cache
emacs.d/projectile-bookmarks.eld
emacs.d/projectile.cache
emacs.d/recentf
emacs.d/snippets
emacs.d/tramp
lein/self-installs/
lein/repl-history
hexchat/scrollback
